/*******************************************************promoted jobs carousel with slick plugin******************************************************************************************************************/

.slick-slider {
    margin: 14px auto;
    width: 100%;
    height: 40%;
    font-size: 1em;
    padding: 1% 0;
    text-align: center;
}

@media only screen and (max-width: 601px) {
    .slick-slider {
        width: 80%;
        min-width: 20em;
    }
}

.item thead,
.item tbody,
.item tbody tr {
    background-color: transparent;

}

.item,
.slick-slide {
    background: transparent;
    position: relative;
}

.item{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border: 1px solid grey;
}

.item tr {
    background-color: transparent;
    width: 5em;
    display: inline-block;
    width: 100%;
}

.item tr td{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    width: 9em;
    overflow: hidden;
    text-align: left;
}
.item tr td{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    overflow: hidden;
}

.item tr td:first-child{
    width: 7em;
    text-align: left;
    padding: 0.1rem 0.1rem;
}
.item tr td:last-child{
    width: 11em;
    text-align: right;
}

.item tr th {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    width: 18em;
    overflow: hidden;
    text-align: center;
}

/*labels*/
.item tr td:first-of-type {
    text-align: left;
}

.textPrimary {
    color: #dd7735;
    text-align: center;
}

.slick-slide {
    margin: 0 27px;
    width: calc(100%/3);
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

.positionBtn {
    display: block;
    width: 99px;
    padding: 5px;
    margin: 5px auto;
    background-color: #dd7735;
    border-radius: 5px;
    color: white;
    bottom: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.5s linear;
}

.positionBtn:hover {
    background-color: white;
    color: #0b1014;
    transform: scale(1.1);

}

.btnCenter {
    text-align: center;
}

a.btn {
    background-color: #dd7735;
    display: block;
    width: 50%;
    margin: 0 auto;
    color: white;
    transition: 0.5s linear;
    border-radius: 30px;
}

a.btn:hover {
    background-color: #0b1014;
    background-color: white;
    color: #dd7735;
    transform: translate(1.1);

}



/****************************************promoted and published jobs table with DataTables plugin see openPositions.html*****************************************************************************************************************/

.dataTables_wrapper label,
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    color: white;
}


.dataTable{
    position:relative;
    background: inherit !important;
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.dataTable::before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content: '';
    box-shadow: inset 0 0 2000px 0 rgba(255, 255, 255, 0.2);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
    margin:-20px;
    pointer-events:none;
}

.dataTable td{
    border-left: none !important;
}
.dataTable th{
    border: none !important;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
    text-align: center !important;
}
.dataTable thead,
.dataTable tfoot,
.dataTable tbody {
    background-color: transparent !important;
    color: white;
}
.itemTable {

    color: black;
    background-color: transparent;
    width: 100%;
    height: fit-content;
}

.itemTable td,
.itemTable th {
    text-align: center;
    border-left: 2px solid grey;
}

.positionMailto2 {
    display: block;
    width: 100px;
    padding: 5px;
    margin: 5px auto;
    background-color: #0b1014;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.positionMailto2:hover {
    background-color: white;
    color: #0b1014;
}



